In [52]:
import sys
sys.path.append('../')
from Classes import Collection, Project
from pathlib import Path
import pandas as pd
import re

In [9]:
projects = [str(p) for p in Path('/n/davies_lab/Lab/data/processed/Africa/Kenya/Selenkay').glob('*')]
projects

['/n/davies_lab/Lab/data/processed/Africa/Kenya/Selenkay/20220108_SelenkaySite03Inside',
 '/n/davies_lab/Lab/data/processed/Africa/Kenya/Selenkay/20220108_SelenkaySite04Inside',
 '/n/davies_lab/Lab/data/processed/Africa/Kenya/Selenkay/20220105_SelenkaySite01Inside',
 '/n/davies_lab/Lab/data/processed/Africa/Kenya/Selenkay/20220109_SelenkaySite06Outside',
 '/n/davies_lab/Lab/data/processed/Africa/Kenya/Selenkay/20220107_SelenkaySite02Inside',
 '/n/davies_lab/Lab/data/processed/Africa/Kenya/Selenkay/20220106_SelenkaySite05Outside']

In [15]:
# Selenkay = Collection(cdir='/n/davies_lab/Lab/data/processed/Africa/Kenya/Selenkay/')

In [57]:
flightdict = {'Site':[],
              'Protected Status':[],
              'Total Area Covered [ha]':[],
              'Average Point Density [ppm]':[],
              'StD Point Density [ppm]':[]}
for proj in projects:
    p = Project(proj, loadfromjson=True)
    name = p.PCount['1m'].site
    flightdict['Site'].append(re.findall('\\d', name)[-1])
    flightdict['Protected Status'].append(name.split(re.findall('\\d', name)[-1])[-1])
    flightdict['Total Area Covered [ha]'].append(p.PCount['1m'].datafootprint_ha)
    flightdict['Average Point Density [ppm]'].append(float(p.PCount['1m'].avg)*1000)
    flightdict['StD Point Density [ppm]'].append(float(p.PCount['1m'].std)*1000)

In [58]:
flight_df = pd.DataFrame(flightdict)
flight_df.sort_values(by='Site', inplace=True)
flight_df

,Site,Protected Status,Total Area Covered [ha],Average Point Density [ppm],StD Point Density [ppm]
2,1,Inside,1805.6990,153.0,138.0
4,2,Inside,1749.7320,158.0,141.0
0,3,Inside,1760.4735,151.0,129.0
1,4,Inside,723.4992,154.0,121.0
5,5,Outside,1740.9726,159.0,146.0
3,6,Outside,1771.8768,151.0,133.0

In [59]:
flight_df.to_csv('./tables/FlightDataTables.csv', index=False)